* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}


/* Secao de informacao */
.container-corpo {
    width: 100%;
    height: 100%;
}

.container-corpo-conteudo {
    background-color: #333333;
    background: cover;
    border-radius: 0px 0px 20px 20px;
    text-align: justify;
    /* margin-bottom: 10px; */
}

.linha-horizontal {
    color: #fff;
}

.conteudo-corpo {
    display: flex; 
}
.sobre {
    padding: 40px;
}
.servico {
    padding: 40px;
}

.titulos-corpo {
    color: #ff725e;
}

.sobre {

}

/* secao dos cartoes */
.container-cartoes {
    width: 100%;
    height: 100%;
}

.container-cartoes-conteudo {
    border-radius: 20px;
}

.cartoes-conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    height: 100%;
    left: 0;
    top: 0;
}

.cartao {
    border-radius: 20px 20px 0px 0px;
    justify-content: space-evenly;
    background-color: #37474f;
    background: cover;
    margin: 20px;
    align-items: center;
    justify-content: center;
    /* display: flex; */
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.icon-cartao-fundo {
    display: block;
    width: 100%;
    background-color: #fff;
}

.cartao-image {
    width: 10%;
    float: left;
}

.titulo-cartao {
    background-color: aqua;
    background:cover;
    max-width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.rocho {
    display: block;
    background-color: #703e78;
    text-align: justify;
    color: white;
    
}

@media screen and (max-width: 767px) {
    .conteudo-corpo {
        display: flex;
        flex-direction: column
        
    }

    .cartao {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 100%;
    }
    .cartao-image {
        float: none;
        width: auto;
    }

    .titulo-cartao {
        padding: 10px;
        max-width: 100%;
        border-radius: 0;
    }

    .rocho {
        padding: 10px;
    }


}

/* footer */

.container-footer {

}

.container-footer-conteudo {
    background-color: #333333;
    border-radius: 20px 20px 0px 0px;
}

.footer-conteudo {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-evenly;
    max-width: 100%;
}

.logo-footer {
    color: #ff725e;
    font-size:  40px;
    float: left;
}

.centro-titulos2 {
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0; 
    display: flex;
    font-family: 'Outfit', sans-serif;
}

.lista-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    list-style: none;
}

.lista-footer1 {
    margin: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}

.email-link {
    color: #ff725e;
}

.lista-footer {
    margin: 0;
    width: 100%;
    height: 100%;
    color: black;
}

.footer-row {
    width: 100%;
    height: 30%;
    background-color: #fff;
    background: cover;
    padding: 5px;
    margin-bottom: 2px;
    transition: .4s;
}

.footer-row:hover {
    width: 90%;
    background-color: #ff725e;
}

.icon-social {
    float: left;
    padding: 10px;
}

#social {
    display: block;
    width: 80%;
    color: black;
    padding: 10px 30px;
}

#social:hover {
    font-size: 15px;
}

.footer-row1 {
    width: 100%;
    height: 30%;
}

#social {
    /* margin-left: 5px; */
}

@media screen and (max-width: 767px) {
    .footer-conteudo {
        display: flex;
        flex-direction: column;
    }

    .lista-info {
        margin-bottom: 20px;
    }
}