* {
    margin: 0;
    padding: 0;
}


/* Secao de informacao */
.container-corpo {
    width: 100%;
    height: 100%;
}

.container-corpo-conteudo {
    background-color: #333333;
    background: cover;
    border-radius: 0px 0px 20px 20px;
    text-align: justify;
    /* margin-bottom: 10px; */
}

.conteudo-corpo {
    display: flex;
    
}
.sobre {
    padding: 40px;
}
.servico {
    padding: 40px;
}

.titulo-corpo {

}

.sobre {

}

/* secao dos cartoes */
.container-cartoes {
    width: 100%;
    height: 100%;
}

.container-cartoes-conteudo {
    border-radius: 20px;
}

.cartoes-conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    height: 100%;
    left: 0;
    top: 0;
}

.cartao {
    border-radius: 20px 0px 0px 20px;
    justify-content: space-evenly;
    background-color: #37474f;
    background: cover;
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 100%;
}

.cartao-image {
    width: 100%;
}

.titulo-cartao {
    background-color: aqua;
    background:cover;
    height: 100%;
    max-width: 100%;
}

.rocho {
    background-color: #703e78;
    text-align: justify;
}

@media screen and (max-width: 767px) {
    .conteudo-corpo {
        display: flex;
        flex-direction: column
        
    }

    .cartao {
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 20px 20px 0px 0px;
        max-width: 100%;
    }

    .titulo-cartao {
        padding: 10px;
        max-width: 100%;
    }

    .rocho {
        padding: 10px;
    }


}

/* footer */

.container-footer {

}

.container-footer-conteudo {
    background-color: #333333;
    border-radius: 20px 20px 0px 0px;
}

.footer-conteudo {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-evenly;
}

.logo-footer {
    color: #ff9800;
    margin-bottom: 10px;
}

.centro-titulos2 {
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0; 
    display: flex;
}

.lista-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    list-style: none;
}

.lista-footer {
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer-conteudo {
        display: flex;
        flex-direction: column;
    }

    .lista-info {
        margin-bottom: 20px;
    }
}
