@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.container-navbar {
    position: center;
    justify-content: center;
    top: 0;
    left: 0;
    display: flex;
    background: url("../Images/inspiration-geometry.png");
    background-color: #0C1B33;

}

.navbar-conteudo {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 90%;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    /* margin-bottom: 10px; */
}

.logo {
    color: #7A306C;
}

.ponto-cor {
    color: red;
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin-left: 60px;
}

li {
    list-style: none;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #7A306C;
}

.hero-image {
    background-image: url("../Images/inspiration-geometry.png");
    background-color: #0C1B33;
    display: flex;
    height: 800px;
    width: auto;
    /* margin-bottom: 10px; */
    
}

.container-hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-image-svg {
    width: 50vh;
}

.titulo {
    top: 40vh;
    left: 20vh;
    width: 50%;
    /* text-align: justify; */
    font-family: 'Outfit', sans-serif;
}

.titulo-hero {
    color: #03B5AA;
    font-size: 30px;
    text-align: center;
}

.descricao-hero {
    font-size: 20px;
    color: #B2AA8E;
    text-align: center;
}

/* responsividade Mobile */

@media screen and (max-width: 767px) {
    nav {
        display: none;
    }

    .container-hero {
        flex-direction: column;
    }

    .hero-image {
        height: auto;
    }

    .hero-image-svg {
        width: 40vh;
    }

    .titulo {
        width: 90%;
    }

    .titulo-hero {
        font-size: 25px;
    }

    .descricao-hero {
        font-size: 10px;
    }

}

/* Responsividade Tablet */

@media screen and (max-width: 991px) {

}